* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-size: 13px;
    font-family: "Manrope"; 
    background-color: hsl(210, 46%, 95%);
}

.container {
    background-color: white;
    display: flex;
    margin: 200px auto;
    height: 29%;
    max-width: 737px;
    gap: 35px;
    border-radius: 10px;
}

.img-container {
    width: 80%;
    height: auto;
}

.drawer-img {
    height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    object-fit: cover;
    object-position: left;
}

.card-details {
  margin: 28px 0px 28px 0px;
}

h2 {
    color: hsl(217, 19%, 35%);
    padding: 0px 80px 0px 0px;
}

.sub-paragraph {
    color: hsl(214, 17%, 51%);
    margin: 15px 58px 0px 0px;
    line-height: 20px;
}

.avatar-container {
    width: 8%;
    height: auto;
    display: flex;
    float: left;
    border-radius: 50px;
    margin-top: 19px;
    margin-right: 15px;
}

.profile-info {
  font-size: .6rem;
  margin-top: 20px;
}

h3 {
    color: hsl(217, 19%, 35%)
}

#date {
    color: hsl(214, 17%, 51%);
    padding-top: 5px;
}


button {
    border-style: none;
    color: hsl(217, 19%, 35%);
    background-color: hsl(212, 23%, 69%);
    border-radius: 10px;
    margin-top: -10px;
}

.share {
    float: right;
    padding-right: 60px;
}

.fa-share:hover {
    color: hsl(212, 23%, 69%);
}

.popup {
    display: none;
    position: fixed;
    transform: translate(104%, -180%);
    max-width: 100%;
    height: auto;
    padding: 14px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    background-color: hsl(217, 19%, 35%);
    border-radius: 10px;
    color: white;
}

.popup.show {
    display: block;
}

.popup p::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -12px;
    border-width: 12px;
    border-style: solid;
    border-color: hsl(217, 19%, 35%) transparent transparent transparent;
}

.icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 3px 15px;
    margin: auto;
}

li {
    list-style: none ;
    display: flex;
}

.fa-brands {
    color: white;
    letter-spacing: 5px;
    padding-left: 15px;
    align-items: center;
}

#sharetext {
    letter-spacing: 8px;
    color: hsla(210, 46%, 95%, 50%);
    font-size: 11px;
}

@media screen and (max-width: 550px){
    .container {
        flex-direction: column;
        margin: auto 25px;
        height: auto;
        width: auto;
        gap: 0px;
    }

    .img-container {
        width: 100%;
        height: 215px; 
        overflow: hidden;  
    }

    .drawer-img {
        border-bottom-left-radius: 0px;
        border-top-right-radius: 10px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top
    }

    .card-details {
       margin: 30px 35px 22px 28px;
    }
      
      h2 {
          padding: 0px;
          font-size: 1rem;
      }
      
      .sub-paragraph {
          margin: 12px 0px 0px 0px;
          font-size: .7rem;
          text-align: left;
      }

      .avatar-container {
        width: 12%;
        margin-top: 26px;
      }

      .profile-info {
        margin-top: 26px;
      }

      button {
        z-index: 1;
        position: fixed;
    }

      .share {
        padding-right: 10px;
        padding-top: 0.5em;
      }

      .popup {
        position: fixed;
        transform: translate(0%, -55%);
        max-width: 100%;
        height: auto;
        left: 0px;
        width: 87.9%;
        padding: 12px;
        margin: 0px 25px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
        z-index: 0;
      }

      .popup p::after {
        content: none;
      }

      #sharetext {
        letter-spacing: 5px;
      }

      .icons{
        padding: 0px;
        padding: 10px 15px;
        justify-content: normal ;
        
      }
}

@media screen and (min-width: 600px) and(max-width: 849px) {

    .container {
        background-color: white;
        display: flex;
        margin: 200px auto;
        height: auto;
        max-width: 25rem;
        gap: 35px;
        border-radius: 10px;
    }
    
    .img-container {
        width: 80%;
        height: auto;
    }
    
    .drawer-img {
        height: 100%;
        width: 100%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        object-fit: cover;
        object-position: left;
    }
    
    .card-details {
      margin: 28px 0px 28px 0px;
    }

    .share {
        float: right;
        padding-right: 120px;  
    }

    .card-details {
        margin-top: 0px;
    }

    .card-details {
        margin: 28px 0px 0px 0px;
    }

    .popup {
        transform: translate(90%, -190%);
      }

      .icons {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 3px 5px;
        margin: auto;
      }
    }

@media screen and (min-width: 850px) and (max-width: 999px) {
    .container {
        height: auto;
        max-width: 80%;
    }
    
}

@media screen and (min-width: 1000px) and (max-width: 1440px) {
    .container {
        background-color: white;
        display: flex;
        margin: 200px auto;
        height: auto;
        max-width: 50rem;
        gap: 35px;
        border-radius: 10px;
    }
    
    .img-container {
        width: 80%;
        height: auto;
    }
    
    .drawer-img {
        height: 100%;
        width: 100%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        object-fit: cover;
        object-position: left;
    }
    
    .popup {
        transform: translate(125%, -180%);
    }
}
